
/*
===== CSS Styling for Forms =====
*/

form {
    display: inline;
}

label.search {
	display:block;
}


li {
	padding-top: 20px;
	padding-left: 20px;
	list-style: none;
}

input[type = 'number'] {
	height: 50px;
	font-size: 1em;
}


input[type = 'text'], input[type = 'search'] {
	-webkit-appearance:none;
	appearance:none;
	width: 80%;
	max-width: 80%;
	height:75px;
	font-size: 1em;
	box-shadow:none;
	border: 5px solid rgba(52, 73, 94,1.0);
	border-radius: 20px;
}

select{
	height: 50px;
	font-size:1em;
	background-color:rgba(52, 73, 94,1.0);
	padding-left:10px;
	padding-right: 10px;
	color:white;
}


input[type='checkbox']{
    -webkit-appearance:none;
    appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid rgba(44, 62, 80,1.0);
}

input[type='checkbox']:checked {
    background: rgba(180, 140, 141,1.0);
}


input[type='button'], input[type='submit'] {
	/* to override browser default styling */
	-webkit-appearance:none;
	appearance:none;

	padding: 20px;
	font-size: 1em;
	background-color: rgba(44, 62, 80,1.0);
	color: white;
	border:1px solid rgba(200, 200, 200, 0.7);
    min-width: 100px;
}

#checkbox_grid {
    column-count: 3;
    -webkit-column-count: 3;
}

/* Special style for the setups */
#load_setup_button {
    display: inline !important;    
}
#delete_setup_button {
    display: inline !important;    
}


/* Style for the rectangle */

#size {
	padding-bottom: 120px;
}

.width_slider {
	position:absolute;
	width: 200px;
	margin-top: 5px;
}

#width_slider_max {
	margin-top: 20px;
}

#rectangle {
	width: 200px;
	height: 100px;
	background: white;
	border: 1px dashed black;
}

.height_slider {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	position:absolute;
	margin-left: 100px;
	margin-top: 100px;
}

#height_slider_max {
	margin-left: 115px;
}

/* Following code is for the numerical values */

#size output {
	position: absolute;
	font-size: 0.7em;
}

#height_min{
	margin-left: 190px;
	margin-top: 145px;
}

#height_max{
	margin-left: 190px;
	margin-top: 25px;
}

#width_min {
	margin-top: 35px;
}

#width_max {
	margin-left: 145px;
	margin-top: 35px;
}

/* Following code is for the cm/in dropdown */

.cm_in {
	position: absolute;
}

#height_selector {
	margin-left: 250px;
	margin-top: 70px;
}

#width_selector {
	margin-top: 55px;
	margin-left: 50px;
}
