* {
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
}


/*
 ===== Body: 3-paged layout =====
 */

html, body {
    width: 100%;
    height: 100%;
    /*overflow-y: hidden; this line breaks the picture frame, but fixes the whitespace bug. Fix ASAP */
}

body {
    color: white;
    font-size: 1.5em;
}

div.horizontal {
    display: block;
    width: 100%;
    height: 100%;
    position: static;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table > section {
    width: 80vw; // The width is based on my monitor. It's replaced by jQuery anyway. Percentage widths do not work.
    min-height: 100vh;
    display: table-cell;
    padding-left: 100px;
    padding-right: 100px;

}

.table > section:nth-child(1), .table > section:nth-child(4) {
    width: 800px; 
}

.table > section:nth-child(5) {
    width: 800px;
}

.table > section:nth-child(3) {
    width: 1000px! important; 
}

.table > section:nth-child(2n+1) {
    background-color: rgba(60,60,60,1);
}

.table > section:nth-child(2n+2) {
    background-color: rgba(40,40,40,1);
}

#searchpic, #selectedpic {
    height: 89vh;
    overflow-y: auto;
}

#setup_results {
    height: 35vh;
    overflow-y: auto;
}

/* Element styling */
h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}