* {
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
}


/*
 ===== Body: 3-paged layout =====
 */


html, body {
	margin: 0;
	padding: 0;
	width:100%;
	/*height:100%;*/
	background-color: rgba(40, 40, 40 , 1);
	color: white;
}

#header {

	background-color:rgba(189, 195, 199,1.0);
    height:200px;
}
section:first-of-type{
	max-height:10px;
}

#page_1 {
	/*
	background-color:rgba(189, 195, 199,1.0);
	*/

	width:80%;
	margin: auto;
}

#page_2{

	width:80%;
	margin:auto;
}

#page_3 {
	/*
	background-color:rgba(189, 195, 199,1.0);
	*/

	width:80%;
	margin:auto;
	}

#selectedpic {
	max-height: 80vh !important;
	overflow: scroll;
}

/* elegant way to set div heights actually */

section{
	padding-top: 50px;
    min-height:120vh;
}

section:first-of-type {
    height: 20vh;
}




/*
===== CSS Styling for ELEMENTS =====
*/

h1 {
	text-align:center;
	padding-bottom:20px;
}

h2 {
	padding-left: 20px;
	padding-top: 20px;
}

body {
	font-size: 2em;
}
