 * {
 	padding: 0;
 	margin: 0;
 	font-family: 'Lato', sans-serif;
 	color:rgba(70,70,80,1.0);
 }

 table {
	border-collapse: collapse;
	text-align:center;
}

td,th {
	border-bottom: solid 1px gray;
}

th {
	font-variant: small-caps;
	line-height: 3em;
	text-transform:lowercase;
	background-color: rgb(135,206,235);
}

i {
	margin-top: 20px;
	margin-left: 10px;
}

/*For the buttons on the header */

ul {
	display:inline;
}

ul li {
	display: inline-block;
}

ul li input[type="button"] {
	width: 150px;
	margin-left: 10px;
	/*This float aligns it with the buttons */
	float: right;
}