html, body {
	margin:0;
	padding: 0;
	background-color: rgba(100,100,100,1);
}

#picture {
	overflow: hidden;	
}
#descr_wrapper {
	position: absolute;
	bottom: 0px;
	height: 300px;
	overflow: hidden;
	width: 100%;
	background-color: rgba(0,0,0,1);
	color: white;
	text-align:center;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
}

#description {
	text-align:left;
	width: 80%;
	margin: 0 auto;
}

#description ul li {
	padding: 20px 0 20px 0;
	list-style-type: none;
}

img {
	width: 50%;
	height: 50%;
}

#picture {
	text-align:center;
	width: 100%;
}

#picture.translate_x {
	-webkit-transition: 3s;
	-moz-transition: 3s;
	transition: 3s;
	margin-left: 0px !important;
}

#picture.translate_y{
	-webkit-transition: 3s;
	-moz-transition: 3s;
	transition: 3s;
	margin-top: 0px !important;
}

