html, body {
	margin:0;
	padding: 0;
	background-color: rgba(100,100,100,1);
}

#description {
	position: absolute;
	bottom: 0px;
	height: 200px;
	width: 100%;
	background-color: rgba(0,0,0,1);
	color: white;
	text-align:center;
	font-size: 1.5em;
	padding:20px;
	font-family: 'Raleway', sans-serif;
}

img {
	width: 50%;
	height: 50%;
}

#picture {
	text-align:center;
	width: 100%;
}

