
/* 
===== CSS Styling for Forms =====
*/

label.search {
	display:block;
}

li {
	padding-top: 20px;
	padding-left: 20px;
	list-style: none;

}

input[type = 'number'] {
	height: 50px;
	font-size: 1em;
}


input[type = 'text'] {

	width: 100%;
	max-width: 100%;
}

input[type='search']{

	-webkit-appearance:none;
	appearance:none;

	width:100%;
	height:75px;
	font-size: 1em;
	box-shadow:none;
	border: 5px solid rgba(52, 73, 94,1.0);

	/*
	background-color:rgba(189, 195, 199,1.0);
	*/
	border-radius: 5px;
}

select{
	-webkit-appearance:none;
	appearance:none;

	height: 50px;
	font-size:1em;
	background-color:rgba(52, 73, 94,1.0);
	padding-left:10px;
	padding-right: 10px;
	color:white;
}


input[type='checkbox']{
    -webkit-appearance:none;
    appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid rgba(44, 62, 80,1.0);
}

input[type='checkbox']:checked {
    background: rgba(127, 140, 141,1.0);
}

input[type='submit']{
	/* to override browser default styling */
	-webkit-appearance:none;
	appearance:none;

	padding: 20px;
	font-size: 1em;
	background-color: rgba(44, 62, 80,1.0);
	color: white;
	border:none;
}

#checkbox_grid {
		column-count: 3;
		-webkit-column-count: 3;
}

